<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button routerLink="" class="navbar-brand nav-link">Angular Navbar</button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button routerLink="" class="nav-link">Accueil</button>
        </li>
        <li class="nav-item">
          <button routerLink="/categories" class="nav-link">categories</button>
        </li>
      </ul>
      <button type="button" class="btn btn-outline-success position-relative" routerLink="/card">
        Card <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"><app-card-lenght></app-card-lenght><span class="visually-hidden">Card</span></span>
      </button>
    </div>
  </div>
</nav>

